// Navigation Styles here
nav{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width:100%;
    margin:0 auto;
    div{padding:20px;}
    border-bottom: groove black 2px;
    align-items: center;
    text-transform: uppercase;
    
    a{
        text-decoration: none;
        color:black;
    }
}